input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 350px;
    min-width: 300px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(180deg, #5B87E6, #5AC6E3);
}

.counterDisplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    border: none;
    border-radius: 10px;
    margin: 0px 20px 20px 20px;
    background-color: #343333;
    color: white;
    font-size: 25px;

}

.counterButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    border-radius: 10px;
    margin: 10px 20px 0px 20px;
    background-color: #343333;
}

.value {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.maxInc {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
    color: red;
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 25px;
}

.errorText {
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 25px;
    color: red;
}