.universalButton {
    font-family: 'Roboto';
    min-height:130px;
    min-width:190px;
    color:#2A2C36;
    border:none;
    border-radius: 10px;
    background-color: white;
    font-size: 45pt;
    font-weight:bold;
}

.universalButton:hover {
    background-color: #5AC4E3;
    transform: translateY(-2px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.universalButton:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

}

.universalButton:disabled {
    background-color: #B0B0B0;
    color: #8C8C8C;
    cursor: not-allowed;
}
