.settingsDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items:inherit;
    min-height: 150px;
    border: none;
    border-radius: 10px;
    margin: 0 20px 20px 20px;
    background-color: #343333;
}

.settingsTitle {
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    align-items: center;
    color:white;
    font-size: 25px;
    font-weight: bold;
}

.settingsTitle input {
    display: flex;
    border-radius: 10px;
    border: none;
    width: 70px;
    font-size: 25px;
    text-align: center;
}

.settingsTitle input:focus {
    outline: none;
}

.inputDisplay {
    font-family: 'Roboto';
    font-size: 25px;
    width: 100px;
    padding: 5px;
}

.inputDisplayFire {
    background-color: #fcdbe1;
}







